#<h1>This is the Model's index page.</h1>
<% @teachents.each do |teachent| %>
    <h3><a href="/teachents/<%= teachent.id %>"><%= teachent.created_at %></a></h3>
    <strong><%= teachent.course %></strong>
    <p><%= teachent.subject %></p>
    <p>By <%= teachent.user.name %></p>
    <br><br>
  <% end %>