

<h3><%= @teachent.course.upcase %></h3>
<p><%= @teachent.subject.upcase %></p>


<p>Created by: <%= @teachent.user.name.upcase %></p>

<p>Created on <%= @teachent.formatted_created_at %></p>


<% if editor(@teachent) %>
  <a href="/teachents/<%= @teachent.id %>/edit">Edit Entry</a>
  <br><br>
  <form class="" action="/teachents/<%= @teachent.id %>" method="post">
    
    <input type="hidden" name="_method" value="DELETE">
    <h3><input type="submit" name="" value="Delete this Entry"><h3>
  </form>
<% end %>

